* {
    font-family: 'poppins', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.heading{
    
    margin-bottom:2rem;
    text-align: center;
    text-transform:capitalize;
    font-family: 'inter',Sans-Serif;
    font-size:2rem;
    font-weight: 700;
}
.navbar {
    position:fixed;
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(69,143,246,1);
    width:100%;
    padding:0.8rem 7%;
    
    z-index: 1000;
    
}
.brand {
    color: white;
    font-weight: 700;
    font-size:2rem;
    text-transform: capitalize;
}
.brand span{
    color: rgb(227,66,11);
}
.navbar-nav a{
    color: white;
    font-size:1rem;
    font-weight:700;
    text-transform: capitalize;
    padding: 0.5rem;

}
.navbar-nav a:hover{
    color: rgb(227,66,11);
    cursor: pointer;
}
.navbar .navbar-nav a:after{
    display:inline-block;
    content:'';
    padding-bottom:0.5rem;
    border-bottom:0.1rem solid rgb(227,66,11);
    transform: scaleX(0);
    transition:0.2s linear;
}
.navbar .navbar-nav a:hover{
    transform: scaleX(0.5);
}
.navbar-extra a{
    color: white;
    font-size: 2rem;
    padding: 0.7rem;
}
.navbar-extra a:hover {
    color: rgb(227,66,11);
}
.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-top:4.5rem;
}
.slide-container{
    width:100%;
    background-color: white;
    padding:40px 0;
}
.slide-contents{
    width:100%;
}
.card-wrapper{
    display: flex;
}
.card{
    display: flex;
    flex-direction: column;
    border: 2px solid grey;
}
.card-image1{
    height:100vh;
    width:100%;
    background-image: linear-gradient(to left, rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url('../web/Run.jpg');
    background-size:cover;
    background-position: bottom center;
    display:flex;
    align-items: flex-end;
    padding:3px;
    justify-content: center;
}
.card-image2{
    height:100vh;
    width:100%;
    background-image: linear-gradient(to left, rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url('../web/Yoga.jpg');
    background-size:cover;
    background-position: bottom center;
    display:flex;
    align-items: flex-end;
    padding:3px;
    justify-content: center;
}
.card-image3{
    height:100vh;
    width:100%;
    background-image: linear-gradient(to left, rgba(0,0,0,0.6),rgba(0,0,0,0.3)), url('../web/Stress.jpg');
    background-size:cover;
    background-position: bottom center;
    display:flex;
    align-items: flex-end;
    padding:3px;
    justify-content: center;
}
.card-title{
    padding: 10px 14px;
}
.card-title h2{
    font-size: 3.5rem;
    color:white;
    bottom:0;
    text-align: center;
    text-transform: uppercase;
}
.swiper-navBtn{
    color: rgba(69, 143, 246, 1);
    transition: color 0.3s ease;
}
.swiper-navBtn:hover{
    color: #4070F4;
}
.swiper-navBtn::before, .swiper-navBtn::after{
    font-size: 40px;
}
.swiper-button-next{
    right: 0;
}
.swiper-button-prev{
    left:0;
}
.swiper-pagination-bullet{
    background-color: rgba(69, 143, 246, 1);
    opacity:1;
}
.title{
    text-align:center;
    text-transform:uppercase;
    margin-top:6rem;
    letter-spacing:1px;
}
.tips-highlight{
    display: grid;
    margin:2rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    justify-content:center;
    text-align: center;
    gap: 1rem;
}
.card-tips{
    overflow:hidden;
    border:1px solid black;
    box-shadow: 4px 4px gray;
    display: flex;
    flex-direction:column;
    cursor:pointer;
    transition:border 200ms ease-in, box-shadow 200ms ease-i
}
.tips-image{
    object-fit: cover;
    width:100%;
    height:12rem;
}
.tips-title{
    font-weight:700;
    font-size: 1.5rem;
}
.description{
    padding: 0 1rem;
}
/*post box*/
.tips-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px,auto));
    justify-content: center;
    gap:1.5rem;
    background-color: rgb(69,143,246);
}
.post-box{
    background:white;
    box-shadow: 0 4px 14px hsl(35deg 25% 15% /10%);
    padding:15px;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}
.post-img{
    width:100%;
    height:200px;
    object-fit: cover;
    object-position: center;
    border-radius: 0.5rem;
}
.post-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
    overflow: hidden;
    text-align: center;
    text-transform: capitalize;
}
.post-date{
    display:flex;
    justify-content: flex-end;
    font-size: 1.2rem;
    text-transform: capitalize;
    margin-top: 8px;
    font-weight:400;
    
}
.post-description{
    font-size: 1rem;
    line-height: 1.5rem;
    margin: 5px 0 10px;
    text-align: justify;
    padding-bottom: 2rem;
}
.post-tips{
    width:100%;
    height:100vh;
    align-items: center;
    justify-content: center;
    background-color:white;
    padding: 0 1.5rem;
}
.tips2{
    margin-top:150px;
}
.tips2{
    width:100%;
    padding: 2rem;
    background-color:white;
    box-shadow: 0 1.4rem 8rem rgba(0,0,0,0.2);
    display:flex;
    border-radius: 0.8rem;
    margin:10px;
}

.tips-img img{
    width:400px;
    height:450px;
    left: -2;
    box-shadow:0.5rem 0.5rem 3rem 1px rgba(0,0,0,0.3);
    overflow: hidden;
    margin-top:2rem;
}
.tips-date{
    margin-left: 2rem;
}
.tips-date span{
    display: inline-block;
    color: black;
    font-size: 1rem;
    font-weight: 700;
    margin:0.5rem 0;
    text-transform: capitalize;
}
.tips2-title{
    font-size:2rem;
    margin:1.rem 0 2rem;
    text-transform: capitalize;
    color: black;
    margin-left: 2rem;
}
.tips-description{
    margin-bottom: 3rem;
    font-size:1.4rem;
    color: black;
    margin-left: 2rem;
}
.btn{
    display:inline-block;
    margin-left:2rem;
    padding:1rem 2rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.2rem;
    color:white;
    text-decoration: none;
    font-weight:700;
    border-radius:0.8rem;
    background-color: rgb(69,143,246);
}
.btn:hover{
    background-color:rgb(227,66,11);
    border:1px solid rgb(227,66,11);
}

.tips-post{
    background-color: rgb(69,143,246);
}
.title-post{
    text-align:center;
    text-transform:uppercase;
    margin-top:6rem;
    letter-spacing:1px;
    color: white;
    padding:2rem;
}
/*footer*/
.footer{
    width: 100%;
    background: rgba(69, 143, 246, 1);
    z-index: 9999;
    bottom:0;
}
footer{
    background: #140B5C;
    width:100%;
    bottom:0;
    left:0;
}
footer .footer-content{
    background: rgba(69, 143, 246, 1);
    max-width:1250px;
    margin:auto;
    padding:30px 40px 40px 40px;
    z-index: 9999;
}
footer .footer-content .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-content .top .footer-logo{
    color: white;
    display: flex;
    gap: 5px;
    font-size:27px;
    
}
.logo-name{
    font-size:30px;
    line-height: 20px;
    margin: 2px;
}
.footer-content .top .media-icons{
    display: flex;
    gap: 5px;
    
}
.footer-content .top .media-icons a i{
    line-height:25px;
    background-color: white;
    border-radius: 50%;
    font-size: 15px;
    width:25px;
    height:25px;
    text-align: center;
    text-decoration: none;
    color: rgb(69,143,246);
}
.footer-content .top .media-icons a i:hover{
    background: rgb(227,66,11);
}
footer .footer-content .link-boxes{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.footer-content .link-boxes .box1{
    display: flex;
    flex-direction: column;
    padding-top: 3rem;
    position: relative;
}
.footer-content .link-boxes .box1 li{
    list-style-type: none;
    
}
.footer-content .link-boxes .box1 li a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    padding: 0.7rem;
    text-align: justify;
}
.footer-content .link-boxes .box2{
    padding-top:3rem;
    display: flex;
    flex-direction: column;
    
}
.footer-content .link-boxes .box2 li{
    list-style-type: none;
}
.footer-content .link-boxes .box2 .link-name{
    position: relative;
    font-size: 18px;
    font-weight: 400;
    margin-bottom:10px;
    color: white;
    
}
.footer-content .link-boxes .box2 .link-name::before{
    content:'';
    left:0;
    bottom: -2px;
    height:2px;
    width: 15rem;
    background:white;
    position: absolute;
}
.link-boxes .box2 input{
    height:40px;
    width:100%;
    outline: none;
    border: 2px solid rgb(69,143,246);
}
.footer-content .link-boxes .box3{
    display: grid;
    grid-template-columns: auto 1fr;
    padding-top: 3rem;
}
.footer-content .link-boxes .box3 li{
    list-style-type: none;
    color: white;
    font-size:1rem;
    padding: 0.7rem;
}

/*media query*/
